:root {
    --Bleu: #56AEF5;
    --BleuFonce: #2480E9;
    --Noir: #484343;
    --Gris: #DDDDDD;
    --GrisClaire: #F6F6F6;
    --BleuDegrade: linear-gradient(to bottom right, var(--BleuFonce), var(--Bleu));
    --red: #FF5C5C;
}

/* ---------- SITE GLOBAL ---------- */
.none {
    display: none !important;
}

.block {
    display: block !important;
}

pre {
	text-wrap: wrap !important;	
}

#border {
    padding: 0 300px;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    font-family: 'Farro';
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Farro';
    padding: 0 !important;
    margin: 0 !important;
}

.separation {
    border-bottom: 2px solid;
    border-image: var(--BleuDegrade) 1;
    padding-bottom: 35px;
    margin-bottom: 20px;
}

.text_16_black_light {
    font-size: 16px;
    font-family: 'Farro';
    color: var(--Noir);
    font-weight: 100;
}

.text_18_black_light {
    font-size: 18px;
    font-family: 'Farro';
    color: var(--Noir);
    font-weight: 100;
}

.text_20_black {
    font-size: 20px;
    font-family: 'Farro';
    color: var(--Noir);
}

.text_22_black {
    font-size: 22px;
    font-family: 'Farro';
    color: var(--Noir);
}

.text_24_black {
    font-size: 24px;
    font-family: 'Farro';
    color: var(--Noir);
}

.text_24_white {
    font-size: 24px;
    font-family: 'Farro';
    color: white;
}

.text_26_black {
    font-size: 26px;
    font-family: 'Farro';
    color: var(--Noir);
}

.text_30_black_light {
    font-size: 30px;
    font-family: 'Farro';
    color: var(--Noir);
}

.titre_32_black {
    font-size: 32px;
    font-family: 'Farro';
    color: var(--Noir);
}

.titre_64_black {
    font-size: 64px;
    color: var(--Noir);
    text-align: center;
    margin-bottom: 40px !important;
}

.titre_90_blue {
    font-size: 90px;
    color: var(--BleuFonce);
    text-align: center;
}

.btn_create {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 17.5px;
    font-family: 'Farro';
    color: white;
    background: var(--BleuDegrade);
    border-radius: 10px;
    padding: 8px 18px;
}

.btn_gris {
    color: var(--Noir);
    background: var(--Gris);
    font-size: 32px;
    font-family: 'Farro';
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
}

.btn_gris:hover {
    color: white;
    background: var(--BleuDegrade);
    transition: 0.2s;
}

.error {
    color: red !important;
}

.valid {
    color: greenyellow !important;
}

.retour {
    text-decoration: none;
    color: var(--Noir);
    font-size: 24px;
}

/* ----- CARD BLOG ----- */
.card_blog {
    width: 375px;
    border: 1.5px solid var(--Noir);
}

.card_blog img {
    width: 100%;
    height: 257px;
    object-fit: cover;
}

.card_blog .contenu {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.card_blog h3 {
    color: var(--Noir);
    font-size: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 5px;
}

.card_blog p {
    background-image: linear-gradient(to bottom, var(--Noir) 60%, white);
    color: transparent;
    background-clip: text;
    font-size: 22px;
    overflow: hidden;
    height: 219px;
}

.card_blog a {
    font-size: 22px;
    background: var(--Gris);
    color: var(--Noir);
    letter-spacing: 3.3px;
    text-align: center;
    font-weight: 100;
    border-radius: 10px;
    width: 100%;
    padding: 11px 0;
    transition: 0.2s;
}

.card_blog a:hover {
    background: var(--BleuDegrade);
    color: white;
}

/* ----- CARD CATEGORIE ----- */
.card_categorie {
    background: var(--Gris);
    padding: 26px;
    border-radius: 10px;
    transition: 0.2s;
}

.card_categorie:hover {
    background: var(--BleuDegrade);
}

.card_categorie a {
    color: var(--Noir);
    font-size: 28px;
}

.card_categorie:hover a {
    color: white;
}

/* ----- CARD COMMENTAIRE -----*/
.commentaire {
    display: flex;
    flex-direction: row;
    border: 0.5px solid var(--Noir);
    margin-top: 30px;
    padding: 5px;
}

.commentaire img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}

.commentaire .contenu {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.commentaire .contenu .pseudo_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65px;
}

.commentaire .contenu .titre {
    margin-top: 15px;
}

/* FORMULAIRE: Connexion / Inscription / Add blog / Update Utilisateur */
.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label_input {
    display: flex;
    flex-direction: column;
}

.formulaire label {
    font-family: 'Farro';
    color: var(--Noir);
    font-size: 24px;
    margin-left: 10px;
    margin-top: 15px;
}

.formulaire input {
    border: 0.5px solid var(--Noir);
    font-size: 22px;
    width: 100%;
}

.formulaire select {
    border: 0.5px solid var(--Noir);
    font-size: 22px;
    width: 100%;
}

.formulaire .btn_gris {
    margin-top: 50px;
}

.formulaire .double {
    display: flex;
    flex-direction: row;
}

.formulaire .double div {
    display: flex;
    flex-direction: column;
}

.formulaire .double input {
    width: 97.5%;
}

.formulaire .date {
    width: 248.63px !important;
}

.formulaire .file {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire .file label {
    padding-left: 0;
}

.formulaire input[type=file]::file-selector-button {
    margin-right: 8px;
    border: none;
    background: var(--BleuDegrade);
    color: white;
    cursor: pointer;
}

.formulaire textarea {
    height: 200px;
}

.formulaire img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.formulaire .pp {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

/* ----- SECTION: Top Blog /Blog Recent / Tous Blogs / Categorie -----*/
.section_titre {
    width: 100%;
    border-bottom: 2px solid;
    border-image: var(--BleuDegrade) 1;
    padding-bottom: 10px !important;
    margin-bottom: 40px !important;
}

.section_blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    height: 590px;
    overflow: hidden;
}

.section_blogs_all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.section_commentaires_all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.section_categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    height: 110px;
    overflow: hidden;
}

.section .active {
    height: auto;
    transition: margin-right 2s ease-in-out .5s;
}

.section_btn {
    text-align: center;
}

.section_btn svg {
    width: 50px;
    height: 50px;
    transform: rotate(0deg);
    transition: 0.2s;
}

.section_btn .active {
    transform: rotate(180deg);
}

/* ---------- HEADER ---------- */
.header_mobile, .header_nav_mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.header_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#header_logo {
    width: 80px;
    height: 80px;
}

.header_nav_menu {
    display: flex;
    position: absolute;
    top: 55px;
    left: 498px;
    background-color: white;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
    width: 16%;
}

.header_nav_menu a:hover {
    background-image: var(--BleuDegrade);
    color: transparent;
    background-clip: text;
}

.header_nav_menu form {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.header_nav_menu input {
    font-size: 24px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #F0F0F0;
    width: 70%;
}

.header_nav_menu button {
    background: var(--BleuDegrade);
    color: white;
    border-radius: 0 5px 5px 0;
    border: 1px solid #F0F0F0;
    cursor: pointer;
}

header .btnLogout {
    color: var(--Noir);
    border: 1.5px solid var(--Noir);
    padding: 5px;
    border-radius: 5px;
}

/* ---------- FOOTER --------- */
footer {
    background-color: var(--GrisClaire);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 300px;
    margin-top: 100px;
    width: 100% !important;
}

footer img {
    width: 200px;
    height: 200px;
}

footer h4 {
    font-size: 30px;
}

footer li a {
    color: var(--Noir) !important;
    font-size: 24px;
    font-weight: 100;
}

footer #reseaux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

footer #reseaux div {
    background-color: white;
    border-radius: 50%;
    padding: 8px;
}

footer #reseaux svg {
    stroke: var(--BleuFonce) !important;
}

.footer_titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer_titre h2 {
    color: var(--Noir);
    font-size: 22.5px;
    font-weight: 100;
}

.footer_titre h1 {
    color: var(--BleuFonce);
    font-size: 45px;
    font-weight: 500;
    text-align: end;
}

.footer_titre .btn_create {
    font-size: 20px;
}

/* ---------- ACCUEIL ----------*/
.accueil_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}

.accueil_blog_pop p:nth-child(1) {
    font-size: 22px;
    color: var(--Gris);
    letter-spacing: 2px;
}

.accueil_titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.accueil_top .accueil_titre h2 {
    color: var(--Noir);
    font-size: 50px;
    font-weight: 100;
}

.accueil_top .accueil_titre h1 {
    color: var(--BleuFonce);
    font-size: 90px;
    font-weight: 500;
    text-align: end;
}

.accueil_top .btn_create {
    font-size: 30.8px;
    width: 70%;
}

/* ---------- BLOG ---------- */
.blog {
    margin-bottom: 30px;
}

.blog img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 30px;
}

.blog .info {
    margin-top: 30px;
}

.blog_commentaires {
    padding: 0 150px;
}

.blog_commentaires .publie {
    border-bottom: 2px solid;
    border-image: var(--BleuDegrade) 1;
    padding-bottom: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.blog_commentaires form {
    border: 0.5px solid var(--Noir);
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 20px;
}

.blog_commentaires form .titre_contenu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog_commentaires input, .blog_commentaires textarea {
    border: none;
    padding: 0 5px;
}

.blog_commentaires .titre_contenu span {
    border-bottom: 0.5px solid var(--Noir);
}

.blog_commentaires .titre_contenu .contenu {
    height: 200px !important;
}

.blog_commentaires button {
    border: none;
    background: var(--BleuDegrade);
    color: white;
    width: 12%;
    border-radius: 5px;
    margin: 0 5px 5px 0;
}

.form_like {
    text-align: end;
}

.form_like button {
    background-color: transparent;
    border: none;
}

.blog_like {
    stroke: var(--red);
}

.blog_liked {
    stroke: var(--red);
    fill: var(--red);
}

/* ---------- MON COMPTE ---------- */
#mon_compte ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px !important;
}

.mon_compte .card {
    display: flex;
    flex-direction: row;
    align-items: start;
    border: none;
}

.mon_compte .card .btn {
    display: flex;
    flex-direction: column;
    background: var(--BleuDegrade);
    border-radius: 0 10px 10px 0;
    padding: 5px 5px;
    gap: 5px;
}

.mon_compte .card .btn svg {
    color: white;
}

.popup_encart {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba( 0, 0, 0, .25 ) !important
}

.popup_contenu {
position: absolute;
top: 75%;
left: 50%;
padding: 25px;
background: white;
transform: translate(-50%, -100%)
}

.mon_compte .card button {
    padding: 0;
}

.mon_compte .publie {
    border: none;
    padding: 0;
    margin: 0;
}

.mon_compte .commentaire {
    margin-top: 0 !important;
}

.mon_compte .blog_commentaires {
    padding: 0;
}

.mon_compte .blog_commentaires .contenu {
    width: 900px;
}

/* ---------- ESPACE MODERATION ---------- */ 
.espace_mod {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-family: 'Farro';
  }
  
thead{
    background-color: var(--GrisClaire);
}
  
th, td {
    border: 1.5px solid var(--Gris) !important;
    padding: 8px 10px;
}

.espace_mod_img_blog {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.espace_mod_img_utilisateur {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


/* RESPONSIVE MOBILE */
@media screen and (max-width: 768px) {
    /* ---------- SITE GLOBAL ---------- */    
    #border {
        padding: 0 40px;
    }

    .text_16_black_light {
        font-size: 12px;
    }

    .text_18_black_light {
        font-size: 14px;
    }

    .text_20_black {
        font-size: 16px;
    }

    .text_22_black {
        font-size: 18px;
    }

    .text_24_black {
        font-size: 20px;
    }

    .text_24_white {
        font-size: 20px;
    }

    .text_26_black {
        font-size: 22px;
    }

    .text_30_black_light {
        font-size: 26px;
    }

    .titre_32_black {
        font-size: 28px;
    }

    .titre_64_black {
        font-size: 42px;
    }

    .titre_90_blue {
        font-size: 56px;
    }

    .btn_create {
        gap: 6px;
        font-size: 14px;
        padding: 8px 18px;
        width: 70%;
    }

    .btn_create svg {
        width: 24px;
        height: 24px;
    }

    .btn_gris {
        color: white;
        background: var(--BleuDegrade);
        font-size: 28px;
        padding: 10px 22px;
    }

    .retour {
        font-size: 18px;
    }
    
    /* ----- CARD BLOG ----- */
    .card_blog {
        width: auto;
    }

    .card_blog img {
        height: 190px;
    }

    .card_blog h3 {
        font-size: 24px;
    }

    .card_blog p {
        font-size: 16px;
        height: 110px;
    }

    .card_blog a {
        font-size: 18px;
        background: var(--BleuDegrade);
        color: white;
    }

    /* ----- CARD CATEGORIE ----- */
    .card_categorie {
        background: var(--BleuDegrade);
        padding: 20px;
    }

    .card_categorie a {
        color: white;
        font-size: 22px;
    }

    .card_categorie:hover a {
        color: white;
    }

    /* ----- CARD COMMENTAIRE -----*/
    .commentaire {
        display: flex;
        flex-direction: row;
        border: 0.5px solid var(--Noir);
        margin-top: 30px;
        padding: 5px;
    }

    .commentaire img {
        width: 45px;
        height: 45px;
    }

    .commentaire .contenu {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }

    .commentaire .contenu .pseudo_date {
        justify-content: start;
        height: 40px;
    }

    .commentaire .contenu h3 {
        margin-top: 10px !important;
    }

    /* ----- SECTION: Top Blog /Blog Recent / Tous Blogs / Categorie -----*/
    .section_titre {
        padding-bottom: 5px !important;
        margin-bottom: 20px !important;
        text-align: center;
    }

    .section_blogs {
        gap: 20px;
        height: 400px;
        overflow: hidden;
    }

    .section_blogs_all {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .section_commentaires_all {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .section_categories {
        gap: 20px;
        height: 90px;
    }

    .section_btn svg {
        width: 40px;
        height: 40px;
    }

    /* FORMULAIRE: Connexion / Inscription / Add blog / Update Utilisateur */
    .formulaire label {
        font-size: 20px;
    }

    .formulaire input {
        font-size: 18px;
    }

    .formulaire select {
        font-size: 18px;
    }

    .formulaire .btn_gris {
        margin-top: 30px;
    }

    .formulaire .double {
        flex-direction: column;
    }

    .formulaire .double input {
        width: 100%;
    }

    .formulaire .date {
        width: 100% !important;
    }

    .formulaire textarea {
        height: 150px;
    }

    /* ---------- HEADER ---------- */
    header {
        margin-bottom: 90px;
    }

    .header_computer, .header_nav_computer {
        display: none;
    }

    .header_mobile, .header_nav_mobile {
        display: block;
    }

    .header_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .header_nav {
        width: 100%;
        justify-content: space-between;
    }

    .header_nav_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header_nav_mobile form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3px;
        margin-top: 5px;
    }

    .header_nav_mobile input {
        font-size: 20px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #F0F0F0;
        width: 70%;
    }

    .header_nav_mobile svg {
        width: 26px;
        height: 26px;
    }

    .header_nav_mobile button {
        background: var(--BleuDegrade);
        color: white;
        border-radius: 0 5px 5px 0;
        border: 1px solid #F0F0F0;
        cursor: pointer;
    }

    .btnLogout {
        margin-top: 5px;
    }

    /* ---------- FOOTER --------- */
    footer {
        flex-direction: column;
        align-items: center;
        padding: 30px 40px;
        margin-top: 40px;
        gap: 20px;
    }

    footer h4 {
        font-size: 26px;
    }

    footer li a {
        font-size: 20px;
    }

    footer ul {
        text-align: center;
    }

    .footer_titre .btn_create {
        font-size: 16px;
        width: 100%;
    }

    /* ---------- ACCUEIL ----------*/
    .accueil_top {
        flex-direction: column-reverse;
        margin-bottom: 90px;
        gap: 45px;
    }

    .accueil_blog_pop p:nth-child(1) {
        font-size: 18px;
    }

    .accueil_blog_pop {
        width: 100%;
    }

    .accueil_titre {
        text-align: center;
    }

    .accueil_top .accueil_titre h2 {
        font-size: 27px;
    }

    .accueil_top .accueil_titre h1 {
        font-size: 60px;
    }

    .accueil_top .btn_create {
        font-size: 24px;
        width: 100%;
    }

    /* ---------- BLOG ---------- */
    .blog {
        margin-bottom: 30px;
    }

    .blog img {
        height: 100px;
        margin-bottom: 10px;
    }

    .blog .titre_64_black {
        margin-bottom: 10px !important;
    }

    .blog .info {
        margin-top: 15px;
    }

    .blog_commentaires {
        padding: 0
    }

    .blog_commentaires .titre_contenu .contenu {
        height: 150px !important;
    }

    .blog_commentaires button {
        width: 30%;
    }

    .form_like button svg {
        width: 24px;
        height: 24px;
    }

    /* ---------- MON COMPTE ---------- */
    #mon_compte ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    /* ---------- ESPACE MODERATION ---------- */ 
    .espace_mod {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    th, td {
        font-size: 10px;
        padding: 2px 5px;
    }

    .espace_mod_img_blog {
        width: 80px;
        height: 40px;
    }

    .espace_mod_img_utilisateur {
        width: 40px;
        height: 40px;
    }

    .espace_mod_contenu {
        width: 20px;
    }

    .espace_mod .actions {
        display: flex;
        flex-direction: column;
    }
}